# Default experimental settings, required to reproduce https://github.com/jayelm/emergent-generalization

name = "DEFAULT" # experiment name - should be the same as file name
experiments_directory = "../exp"
cuda = true
wandb = false
wandb_project_name = "cc"
use_lang = true
copy_receiver = false
receiver_only = false
share_feat_model = false
n_transformer_heads = 8
n_transformer_layers = 5
joint_training = false
joint_training_lambda = 1.0
reference_game = false
reference_game_xent = false
no_cross_eval = false
ignore_language = false
ignore_examples = false
debug = false
vis = false
receiver_reset_interval = 0.0
force_reference_game = false # Can be used in zero-shot eval
force_concept_game = false # Can be used in zero-shot eval
force_setref_game = false # Can be used in zero-shot eval
zero_shot_eval_epochs = 5
save_interval = 10

[data]
dataset = "../data/shapeworld"
load_shapeworld_into_memory = false
batch_size = 32
percent_novel = 1.0
n_examples = 10 # number of examples seen by agents, including distractors
ref_dataset="../data/shapeworld_ref"
n_sample = 2E5 # Number of samples for inspecting the language. Used in sample.py
n_workers = 0

[optimiser]
class = "AdamW"
accumulator_steps = 1
lr = 1e-4
weight_decay = 0.0
clip_grad_norm = 100.0
log_interval = 100

[scheduler]
epochs = 100
range_test = false
microcycle_type = "flat"
macrocycle_type = "flat"

[sender]
class = "ECGSpeaker"

[sender.arguments]
vocabulary = 11
message_length = 4
image_encoder = "Conv4"
prototype = "average"
gradient_trick = "gumbel"
layers = 2
embedding_size = 500
d_model = 1024
dropout = 0.1
temperature = 1.0
temperature_annealing = 0.0
uniform_weight = 0.0
uniform_weight_anneal = 0.0
eps = 0.0
eps_anneal = 0.0

[receiver]
class = "ECGListener"

[receiver.arguments]
vocabulary = 11
message_length = 4
image_encoder = "Conv4"
pretrained_feat_model = false
layers = 2
embedding_size = 500
d_model = 1024
dropout = 0.1
temperature = 1.0

[shapeworld.data]
ref_dataset="../data/shapeworld_ref"
n_examples=20 # number of examples given to teacher/student, divided evenly b/t targets and distractors (must be even!)

[shapeworld.optimiser]
accumulator_steps=4

[shapeworld.sender.arguments]
vocabulary = 14
message_length = 7
uniform_weight = 0.1

[shapeworld.receiver.arguments]
vocabulary = 14
message_length = 7

[birds.data]
batch_size = 16
n_workers = 4
ref_dataset = "../data/cub"

[birds.sender.arguments]
vocabulary = 20
message_length = 10
image_encoder = "PretrainedResNet18"
pretrained_feat_model = true

[birds.receiver.arguments]
vocabulary = 20
message_length = 10
image_encoder = "PretrainedResNet18"
pretrained_feat_model = true